<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="scripts">
     
    <script>
        // Injecter l'ID dans la modale
        document.addEventListener('DOMContentLoaded', () => {
            const confirmDeleteModal = document.getElementById('confirmDeleteModal');
            confirmDeleteModal.addEventListener('show.bs.modal', function (event) {
                const button = event.relatedTarget;
                const id = button.getAttribute('data-id');
                const deleteInput = document.getElementById('deleteId');
                deleteInput.value = id;
            });
        });

    
        function updatePageSize() {
            const size = document.getElementById("pageSize").value;
            window.location.href = `/creneaux?page=0&size=${size}`;
        }
    </script>
        

</th:block>
</html>