<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="template1">

<head>

</head>
<body>
    <div class="container">
        <!-- Le contenu de ton formulaire ici -->
<section>
    <div layout:fragment="content">
        
        <h2 th:text="${matiere.id == null ? 'Ajouter  ' : 'Modifier  '}"></h2>

        <div class="container mt-5">
            <div class="card mb-4">
                <div class="card-header">
                    <h4 class="mb-0" th:text="${matiere.id == null ? 'Ajouter ' : 'Modifier '}"></h4>
                </div>

                <div class="card-body">
                    <form th:action="@{/matieres/save}" th:object="${matiere}" method="post">
                        <!-- Champ caché pour l'ID -->
                        <input type="hidden" th:field="*{id}" />

                        <!-- Champ Libellé Français -->
                        <div class="mb-3">
                            <label for="nommatfr" class="form-label">Nom de la matière (Fr)</label>
                            <input type="text" id="nommatfr" th:field="*{nommatfr}" class="form-control" placeholder="Saisissez le nom de la matière en français" required />
                              <div th:if="${#fields.hasErrors('nommatfr')}" class="alert alert-danger">
                <p th:errors="*{nommatfr}">Nom matière invalide</p></div>
                        </div>

                        <!-- Champ Libellé Arabe -->
                        <div class="mb-3">
                            <label for="nommatfrabr" class="form-label">Nom de la matière abrégée(Fr) </label>
                            <input type="text" id="nommatfrabr" th:field="*{nommatfrabr}" class="form-control" placeholder="Saisissez le nom de la matière abrégée en français" required />
                        <div th:if="${#fields.hasErrors('nommatfrabr')}" class="alert alert-danger">
                <p th:errors="*{nommatfrabr}">Abréviation invalide</p>
            </div>
                        </div>
                         <!-- Champ Choix Département -->
                          <div class="mb-3">
                            <label for="depExistants">Sélection des département </label>
                            <select id="depExistants" th:field="*{departements}" class="form-select select2" multiple="multiple">
                                <option th:each="dep : ${depExistants}" th:value="${dep.id}"
                                    th:text="${dep.nomdepfr}"
                                    th:selected="${departements != null && departements.contains(dep)}">
                                </option>
                            </select>     </div>


                          <!-- Boutons -->
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary me-2">Enregistrer</button>
                            <a href="/matieres" class="btn btn-secondary">Annuler</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

</div>

<!-- Inclusion du fragment JavaScript    <th:block th:replace="~{fragments/departements-form-js :: scripts}"></th:block>-->

<th:block layout:fragment="bottom-scripts">

    <!-- Importation du fragment child-js -->
    <th:block th:replace="~{fragments/matiere-form-js :: scripts}"></th:block>
</th:block>



</body>


</html>